.graph{
  display: inline-block;
}
.slider {
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.container {
  display: block;
  text-align: center;
  height:600px;
  width:1300px;
  border: 3px solid #4CAF50;
  padding:1px;
  margin:1px;
}

.sampleSize {
  padding: 10px 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
    background-color: green;
}
